# Python
__pycache__/
*.py[cod]
*.egg-info/
.ipynb_checkpoints/

# Virtual envs
.venv/
venv/
env/

# RL artifacts / checkpoints / logs
*.pt
*.pth
*.ckpt
runs/
logs/
videos/
*.mp4

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/
